
.vs/JRSolutionsFac/v16/.suo
WindowsFac/bin/Debug/WindowsFac.exe
WindowsFac/bin/Debug/WindowsFac.pdb
WindowsFac/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WindowsFac/obj/Debug/JRSolutionsFac.WimForm.csproj.GenerateResource.cache
WindowsFac/obj/Debug/JRSolutionsFac.WimForm.csprojAssemblyReference.cache
WindowsFac/obj/Debug/WindowsFac.exe
WindowsFac/obj/Debug/WindowsFac.pdb
